body{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location
{
    height: 150px;
    width: 700px;
    text-align: center; 
}