body
{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top left,pink,rgba(255, 51, 0, 0.596),rgb(83, 83, 129));
    background-attachment: fixed;
}
#score
{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
    position:fixed;
}
#score
{
    display: flex;
    justify-content:end;
    align-items: center;
    padding-right: 30px;

}
#quiz
{
    height: 100px;
    
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-top: 150px;
}
button
{
    height: 50px;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.mainDiv
{
    background-color: red;
}