img{
    height: 500px;
    animation: Raj 1s infinite ;
}
@keyframes Raj {
    0%
    {
        clip-path:polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%) ;

    }
    20%
    {
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
    40%
    {
        clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    }
    60%
    {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    }
    80%
    {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    }
    100%
    {
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

    }

}