body
{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    
}
#heading
{
    color: chocolate;
    font-size: 50px;
}
#heading span{
    color: rgb(216, 100, 237);
}
#count
{
    height: 300px;
    width: 400px;
    border: 2px solid rgba(236, 223, 223, 0.296);
    box-shadow: 4px 4px 15px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hours,#minutes,#seconds
{
    font-size: 70px;
}

.clock {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
}
input
{
    height: 20px;
    width: 50px;
}
