body
{
    
    height: 100%;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    background: linear-gradient(to right,rgba(255, 0, 0, 0.123),rgba(0, 0, 255, 0.219),rgba(255, 255, 0, 0.274));
    font-size: ;
   
    

}
a{
    text-decoration: none;
    font-size: large;

}
a:hover
{
    background-color: rgb(255, 145, 0);
    color: white;
    
}


